﻿@model GridMvc.Pagination.GridPager
@if (Model == null || Model.PageCount <= 1)
{
    return;
}
<div class="grid-pager">
   
        @if (Model.CurrentPage > 1)
        {
             
                <a href="@Model.GetLinkForPage(Model.CurrentPage - 1)">«</a>
             
        }

        @if (Model.StartDisplayedPage > 1)
        {
             
                <a href="@Model.GetLinkForPage(1)">1</a>
             
            if (Model.StartDisplayedPage > 2)
            {
             <a href="@Model.GetLinkForPage(Model.StartDisplayedPage - 1)">...</a> 
            }
        }
        @for (int i = Model.StartDisplayedPage; i <= Model.EndDisplayedPage; i++)
        {
            if (i == Model.CurrentPage)
            {
           <span>@i</span> 
            }
            else
            {
             <a href="@Model.GetLinkForPage(i)">@i</a> 
            }
        }
        @if (Model.EndDisplayedPage < Model.PageCount)
        {
            if (Model.EndDisplayedPage < Model.PageCount - 1)
            {
             <a href="@Model.GetLinkForPage(Model.EndDisplayedPage + 1)">...</a> 
            }
             <a href="@Model.GetLinkForPage(Model.PageCount)">@Model.PageCount</a> 
        }
        @if (Model.CurrentPage < Model.PageCount)
        {
             <a href="@Model.GetLinkForPage(Model.CurrentPage + 1)">»</a> 
        }
  
</div>
