﻿@model Movie.Models.TitleDescriptionList
@using GridMvc.Html;
@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        $('#divAwardAccordionbar,#divStoryLinesAccordionbar, #divTPAccordionbar').click(function (e) {
            e.preventDefault();
            $(this).next().toggle();
            return false;
        });

    });
</script>

<div id="popupTableContainer">
    <div style="width:100%;">
        <div id="divStoryLinesAccordionbar" class="divAcc" title="Story Line">
            <span>Story Line</span>
        </div>
        <div style="margin:15px;display:none">
            @Html.Grid(@Model.TitleDescriptions[0].StoryLines).Columns(columns =>
           {
               columns.Add(titleDescription => titleDescription.Type).Titled("Type");
               columns.Add(titleDescription => titleDescription.Description).Titled("Description").SetWidth(605);
               columns.Add(titleDescription => titleDescription.Language).Titled("Language");

           })
        </div>
    </div>
    <div style="width:100%;">
        <div id="divAwardAccordionbar" class="divAcc" title="Award">
            <span>Award</span>
        </div>
        <div style="margin:15px;display:none">
            @Html.Grid(@Model.TitleDescriptions[0].Awards).Columns(columns =>
           {
               columns.Add(titleDescription => titleDescription.Award1).Titled("Award").SetWidth(325);
               columns.Add(titleDescription => titleDescription.AwardCompany).Titled("Award Company").SetWidth(305);
               columns.Add(titleDescription => titleDescription.AwardYear).Titled("Award Year");

           })
        </div>
    </div>

    <div style="width:100%;">
        <div id="divTPAccordionbar" class="divAcc" title="Other Details">
            <span>OtherName</span>
        </div>
        <div style="margin:15px;display:none">
            @Html.Grid(@Model.TitleDescriptions[0].OtherNames).Columns(columns =>
           {
               columns.Add(titleDescription => titleDescription.TitleName).Titled("Title Name");
               columns.Add(titleDescription => titleDescription.TitleNameLanguage).Titled("Language");
               columns.Add(titleDescription => titleDescription.TitleNameType).Titled("Type");
           })
        </div>
    </div>
</div>