﻿@model Movie.Models.MoviesList
@using GridMvc.Html;

<style>
    .table th, .table td {
        line-height: 20px;
        padding: 5px;
        text-align: center;
        vertical-align: top;
    }
</style>
<table align="center">
    <tr>
        <td>
            <h2>Titles</h2>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Grid(Model.MovieBasicsList).Columns(columns =>
           {
               columns.Add(titles => titles.TitleId, true).Titled("Title Id").Css("titleId");
               columns.Add(titles => titles.MovieName).Titled("Title Name").Css("movieName").Filterable(true).Sortable(true);
               columns.Add(titles => titles.ReleaseYear).Titled("Released Year").Sortable(true);
               columns.Add(titles => titles.AwardWon).Titled("Award Won").Sortable(true);
               columns.Add(titles => titles.IsOnScreen).Titled("Is On Screen").Sortable(true);
           }).WithPaging(10, 5)
        </td>
    </tr>
    <tr>
        <td>
            <div class="container">
                <div id="tablePopup" class="modal hide fade in" style="display: none; ">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h4>Title Details</h4>
                    </div>
                    <div class="modal-body" id="popupDataContainer">
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn close" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>